canvas {
    display: block;
    box-shadow: -2px -2px 2px #efefef, 8px 8px 8px #b9b9b9
}

* {
    margin: 0;
    padding: 0;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    box-sizing: border-box;
}

#go_header {
    font-size: 0px;
}

#go_header span {
    font-size: 14px;
}

.go-info {
    font-size: 0px;
}

#room-id,
#quit-room,
#enter-room {
    font-size: 1rem;
    padding: 5px;
    background: #333;
    color: #fff;
    flex:1;
}
#enter-room{
    margin: 0 10px;
}
#room-id{
    border-radius: 6px;
    background: #fff;
    outline: none;
    color: #222;
    border: 2px solid;
    padding-left: 10px;
}
.room{
    /display: flex;
}

.left {
    flex: 1;
    margin-right: 100px;
    padding-top: 10px;
}

.right {
    margin: 0 50px 0 100px;
}

.flex {
    display: flex;
}

.list {
    max-height: 500px;
    overflow: auto;
}

.list li{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    background: #333;
    color: #bbb;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
}
.list li:first-child{
    color: #fff;
    font-size: 1.2rem;
}

.info-date {
    font-size: 12px;
}

@media all and (max-width:768px) {
    .flex {
        display: block;
        margin-top: 0px;
    }
    .left {
        margin-top: 10px;
    }
    .right {
        margin:0 auto;
    }
}
.go-mask{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
    background-color: #ccc;
}
.mask-wrapper{
    width: 480px;
    margin: 0 auto;
    padding: 20px;
}
.log-reg input{
    display: block;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    outline: none;
    font-size: 1rem;
}
button{
    display: inline-block;
    min-width: 120px;
    padding: 5px;
    background: #333;
    color: #fff;
    font-size: 1.2rem;
    border: 1px solid #fff;
    outline: none;
}
button:hover{
    background: #111;
    transition: all 0.3s;
}
button:active{
    border: 1px solid #011;
}
a{
    text-decoration: none;
    color: #33d;
}
a:hover{
    text-decoration: underline;
}
.log-info,.reg-info{
    font-size: 0.86rem;
    display: block;
    color: #f00;
}

.room-name{
    text-align: center;
}
.room-left,.room-right{
    float: left;
}
.room-left{
    margin: 0 30px 0 10px;
}
.room-item{
    background: green;
    float: left;
    width: 250px;
    
}

.room-item img{
    width: 100px;
    height: 100px;
    vertical-align: bottom;
}
.roon-user{
    margin: 0;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*b{
    position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5);font-size: 2rem;z-index: 9999;
    width: 80%;height: 50%; position: absolute;top: 50%;left: 50%; -webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);text-align: center;background: #fff;
    display: inline-block;width: 30%;height: 10%;margin: 20px;
}*/
