canvas
{
    display: block;

    box-shadow: -2px -2px 2px #efefef, 8px 8px 8px #b9b9b9;
}

*
{
    font-family: 'lucida grande', 'lucida sans unicode', lucida, helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#go_header
{
    font-size: 0;
}

#go_header span
{
    font-size: 14px;
}

.go-info
{
    font-size: 0;
}

/*#room-id,
#quit-room,
#enter-room
{
    font-size: 1rem;

    padding: 5px;

    color: #fff;
    background: #333;

    flex: 1;
}

#enter-room
{
    margin: 0 10px;
}*/


.go-left
{
    margin-right: 100px;
    padding-top: 10px;

    flex: 1;
}

.go-right
{
    margin: 0 50px 0 100px;
}

.flex
{
    display: flex;
}

.list
{
    overflow: auto;

    max-height: 500px;
}

.list li
{
    font-size: 1rem;
    font-weight: 600;

    margin-top: 10px;
    padding: 10px;
    padding-left: 20px;

    color: #bbb;
    border-radius: 5px;
    background: #333;
}

.list li:first-child
{
    font-size: 1.2rem;

    color: #fff;
}

.info-date
{
    font-size: 12px;
}

@media all and (max-width:768px)
{
    .flex
    {
        display: block;

        margin-top: 0;
    }
    .go-left
    {
        margin-top: 10px;
    }
    .go-right
    {
        margin: 0 auto;
    }
}

.go-mask
{
    position: fixed;
    top: 0;
    left: 0;

    overflow: auto;

    width: 100%;
    height: 100%;
    padding: 3% 5% 0;

    background-color: #fff;
    background-color: #ccc;
}

.head-wrapper,
.create-room
{
    margin: 10px;
    padding: 20px;

    border: 1px solid;
}

.log-reg-wrapper,
.room-wrapper
{
    float: left;

    width: 50%;
    min-height: 506px;
}


.go-mask input
{
    font-size: 1rem;

    display: block;

    width: 90%;
    margin: 10px 0;
    padding: 10px;

    color: #222;
    border: 2px solid #333;
    border-radius: 6px;
    outline: none;
    background: #fff;
}

button
{
    font-size: 1.2rem;

    display: inline-block;

    min-width: 120px;
    padding: 5px;

    color: #fff;
    border: 1px solid #fff;
    outline: none;
    background: #333;
}

button:hover
{
    transition: all .3s;

    background: #111;
}

button:active
{
    border: 1px solid #011;
}

a
{
    text-decoration: none;

    color: #33d;
}

a:hover
{
    text-decoration: underline;
}
.log-info,
.reg-info
{
    font-size: .86rem;

    display: block;

    min-height: 35px;

    color: #f00;
}

.room-wrapper
{
    margin-top: 10px;
    padding: 20px;

    border: 1px solid;
}
.room-name
{
    margin-bottom: 10px;

    text-align: center;
}

.room-left,
.room-right
{
    float: left;
}

.room-left
{
    margin: 0 20px 0 10px;
}

.room-item
{
    float: left;

    width: 201px;
    margin: 5px;

    background: #888;
}

.room-item img
{
    width: 80px;
    height: 80px;

    vertical-align: bottom;
}

.roon-user
{
    font-size: .75rem;

    overflow: hidden;

    max-width: 80px;
    margin: 0;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#upload-form
{
    position: relative;

    display: inline-block;

    width: 150px;
    height: 150px;

    text-align: center;

    border: 1px solid;
}
#upload-form span
{
    line-height: 150px;
}
#upload-input
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    cursor: pointer;

    opacity: 0;
}
#avatar
{
    margin-left: 20px;

    vertical-align: bottom;
}

/*b{
    position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5);font-size: 2rem;z-index: 9999;
    width: 80%;height: 50%; position: absolute;top: 50%;left: 50%; -webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);text-align: center;background: #fff;
    display: inline-block;width: 30%;height: 10%;margin: 20px;
}*/
